/*************************************************************************
* Scoots Rentals - WDD230 Final Project styles - Author: Eric Shewchuk *
*************************************************************************/

// sass --watch scoots/styles/base.scss:scoots/styles/base.css

// COMBINE CSS FILES
@use 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

// set global variables

    $darkgreen: #343F3E;
    $lightgreen: #505A5B;
    $text: #1A1A1A;
    $lightblue: #DCEDFF;
    $gray: #8F91A2;
    $darkblue: #94B0DA;

    $border: 3px solid $lightgreen;
    $center: 0 auto;

/******************** end of normalize ********************/

@import 'global';
@import 'navigation';
@import 'layouts';
@import 'weather';
@import 'form';