/*************************************************************************
* Scoots Rentals - WDD230 Final Project styles - Author: Eric Shewchuk *
*************************************************************************/

// sass --watch scoots/styles/base.scss:scoots/styles/base.css
// csso styles/base.css -o styles/final.min.css     *** output minified css to file - change link in page headers!!!

@use 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

// set global variables

    $darkblue: #22798F;
    $midblue: #4ABFDB;
    $lightblue: #70E2FF;
    $text: #2a2b2b;
    $brown: #8F4F14;
    $tan: #DB904B;
    $links: lighten($lightblue, 25%);

    $center: 1rem auto;

    // create mixins
@mixin border($thick, $rad) {
    border: $thick solid $brown;
    border-radius: $rad;
}

/******************** end of normalize ********************/

@import 'global';
@import 'navigation';
@import 'layouts';
@import 'weather';
@import 'form';