:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --wght: 400;
}
html {
    background-color: $lightblue;
    font-family: 'Sen', Arial, sans-serif;
    font-size: var(--s0);
    color: $text;
}
body {
    max-width: 100%;
    background-color: white;
}
#banner {
    position: absolute;
    background: transparent url("../images/title-background.webp") padding-box no-repeat;
    background-size: cover;
    margin: 1rem;
    padding: 0 .2rem;
    max-width: fit-content;
    border-radius: .5rem;
}
h1 {
    font-size: var(--s2);
    font-weight: var(--wght + 150);
}
h2 {
    font-size: var(--s1);
    margin-left: 2.5rem;
}
@media (min-width: 550px) {
    #banner {
        position: relative;
        border-radius: .5rem;
    }
    p {
        font-size: clamp(1rem, -0.875rem + 4.333vw, 2.5rem);
    }
    .rentalInfo p {
        font-size: clamp(1rem, -0.875rem + 2.333vw, 2rem);
    }
}