body {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    position: relative;
    width: 100%;
    margin: 0;
    & h1 {
        margin: 0 .5rem .1rem .1rem;
        font-weight: calc(var(--wght) + 300);
        color: lighten($text, 10%);
    }
    & img {
        border: none;
        width: 100%;
        height: auto;
    }
}
main {
    padding: 1.5rem;
}
.right {
    background-color: $links;
    padding: 2rem;
    max-width: 90%;
    margin: $center;
    @include border(2px, 1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & p {
        max-width: 60ch;
        flex-shrink: 1;
        margin-right: 1rem;
    }
    & img {
        max-width: 75vw;
        height: auto;
        flex-shrink: 2;
    }
}
.weather {
    background-color: lighten($text, 30%);
    padding: 2rem;
    max-width: 90%;
    margin: $center;
    @include border(2px, 1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rentalInfo {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    & article {
        @include border(1px, 1rem);
        text-align: center;
        max-width: 90%;
        box-sizing: border-box;
        padding: 0 1rem 1rem 1rem;
    }
    & img {
        display: block;
        margin: .5rem auto;
    }
}
#map {
    display: flex;
    justify-content: center;
}
iframe {
    max-width: 100%;
    display: inline;
}
footer {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & a {
        margin-left: 1rem;
    }
    & img {
        width: 75px;
        height: auto;
    }
}
#contact {
    padding: 2rem;
}
@media (min-width: 550px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        & h1 {
            font-size: clamp(3rem, -0.875rem + 10.333vw, 8.5rem);
            display: inline;
        }
        & img {
            @include border(3px, 50%);
            margin: 1rem;
        }
    }
    nav {
        grid-column: 1/-1;
        width: 100%;
    }
    .right {
        flex-wrap: nowrap;
        justify-content: space-between;
        & p {
            max-width: 60ch;
            // flex-shrink: 1;
        }
        & img {
            max-width: 25vw;
            height: auto;
            // flex-shrink: 2;
        }
    }
    .rentalInfo {
        flex-direction: row;
        flex-wrap: wrap;
        & article {
            @include border(1px, 1rem);
            text-align: center;
            max-width: 30%;
        }
    }
}
@media (min-width: 665px) {
    footer {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}
