/*************************************************************************
* Princeville Chamber of Commerce project styles - Author: Eric Shewchuk *
*************************************************************************/

// sass --watch chamber/styles/base.scss:chamber/styles/base.css

// COMBINE CSS FILES
@use 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

// set global variables

    $main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

// create mixins
@mixin shadow {
    box-shadow: .4em .4em .7em $text;
}

// set global styles
/******************** end of normalize ********************/

html {
    background-color: $text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: $text;
}

body {
    background-color: white;
    min-width: 450px;
    margin: $center;
    border: $border;
}

.hero {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

header {
    position: relative;
}

#headline {
    position: absolute;
    padding-top: 20%;
    font-size: 2rem;
    left: 1em;
    text-shadow: 2px 2px 3px $light;
}

header ul {
    margin-top: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 1rem;
}

main img {
    border: $border;
    @include shadow;
    max-width: 100%;
}

.show {
    max-width: 100%;
    height: auto;
}

#mode {
    display: block;
    background-color: $light;
    color: $text;
}

a {
    text-decoration: none;
}

.cta {
    display: block;
    max-width: 80%;
    text-align: center;
    font-size: 1rem;
    background-color: $main;
    border-color: $accent;
    border-radius: .6rem;
    padding: 1rem 1.5rem;
    margin: .5rem auto;
}

.cta a, #layout {
    color: $light;
}

h1, h2, h3 {
    font-size: 2.5rem;
    font-family: 'Allura', cursive;
    color: $main;
    margin-bottom: .5rem;
}

footer {
    border-top: 2px solid $main;
    text-align: center;
}

footer h4, #modified {
    display: inline;
}

/*************************************** NAVIGATION *******************************************/ 

#menu {
	font-size: 1.5rem;
	border: $border;
	padding: 3px 7px 6px;
	background-color: transparent;
	margin-left: 85%;
	top: 9.5rem;
}

#menu::before {
	content: "☰";
    color: $accent;
}

#menu.open::before {
	content: "✕";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	color: $accent;
}

.navigation li a:hover {
	color: $main;
	background-color: $light;
}

.navigation li a.active {
    color: $light;
    background-color: $main;
    font-weight: bold;
    border-radius: .3rem;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 90%;
}

.open li a {
	display: block;
}

/**************************************** HOME PAGE SPECIFIC STYLES *********************************************/
.spotlight, .weather {
    max-width: 85%;
    margin: .5rem auto;
}

.weather {
    padding: 1rem;
}

#sunshine {
    @include shadow();
    border: $border;
    display: flex;
    padding: 0 1rem;
    display: block;
    font-size: 1.8rem;
}

#sunshine img {
    border: none;
    box-shadow: none;
    width: 40%;
}

.member {
    display: flex;
    flex-direction: column;
}

.member a {
    text-decoration: underline;
}

.member p::first-line {
    font-weight: bold;
}

iframe {
    width: 100%;
    height: auto;
}

.events {
    max-width: 100%;
    margin: $center;
}

.events img, .weather img { //.weather will change when functionality is added
    aspect-ratio: 5/6.6 auto;
    width: 100%;
    margin: $center;
}

.spotlight a {
    color: $accent;
}

/**************************************** DISCOVER PAGE SPECIFIC STYLES *********************************************/
#discover-sidebar article {
    border: $border;
    @include shadow;
    margin-bottom: 15px;
    & h3 {
        padding-top: 0;
        margin: 0 0 0 7px;
    }
}
.stats {
    padding: 8px;
}
#discover-main img {
    transition: 1s;
}
#discover-main img:hover {
    transform: scale(1.01);
}

/**************************************** JOIN PAGE FORM/TABLE STYLES *********************************************/
form {
    width: 95%;
    max-width: 600px;
    @include shadow;
    margin: 2rem auto 3rem auto;
    background-color: $light;
    padding: .7rem;
}
fieldset {
    border: $border;
    color: $main;
}
legend {
    margin: 0 0 0 1.5rem;
    padding: 0 1rem;
    color: $main;
}
label, input, textarea {
    display: block;
}
input:not(radio), textarea {
    width: 70%;
    max-width: 400px;
    font-size: 1rem;
    border: 1px solid $main;
    border-radius: 4px;
    padding: .75rem;
    margin-bottom: 1rem;
}
input[type=radio] {
    max-width: 20px;
}
form div {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
#thanksMessage {
    text-align: center;
    padding: 3rem;
}
$main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
}
thead {
    background: $main;
    color: $light;
    font-size: 1rem;
}
th, td {
	padding: 7px 15px;
	border: 1px solid $accent;
}
.lite {
    background: $light;
}
td {
	text-align: center;
}
tbody tr:nth-child(even) {
	background-color: rgb(212, 212, 212);
}

@import 'medium';
@import 'larger';
