/*************************************************************************
* Princeville Chamber of Commerce project styles - Author: Eric Shewchuk *
*************************************************************************/

// sass --watch chamber/styles/base.scss:chamber/styles/base.css

// COMBINE CSS FILES
@use 'normalize';
//@import 'medium';
//@import 'larger';

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

// set global variables

    $main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

// create mixins
@mixin shadow {
    box-shadow: .4em .4em .7em $text;
}

// set global styles

html {
    background-color: $text;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: $text;
}

body {
    background-color: white;
    min-width: 450px;
    margin: $center;
    border: $border;
}

.hero {
    max-width: 100%;
    margin: 0px;
}

header ul {
    margin-top: 0px;
}

// #headline {
//     position: relative;
// }

main {
    padding: 0 1rem;
}

main img {
    border: $border;
    @include shadow;
}

.cta {
    display: block;
    font-size: 1rem;
    background-color: $main;
    border-color: $accent;
    border-radius: .6rem;
    padding: 1rem 1.5rem;
    margin: .5rem auto;
}

.cta a {
    color: $light;
    text-decoration: none;
}

h1, h2, h3 {
    font-size: 2.5rem;
    font-family: 'Allura', cursive;
    color: $main;
    margin-bottom: .5rem;
}

.spotlight, .weather {
    max-width: 85%;
    margin: .5rem auto;
}

.member {
    display: flex;
    flex-direction: column;
}

.member p::first-line {
    font-weight: bold;
}

.events {
    max-width: 90%;
    margin: $center;
}

.events img, .weather img { //.weather will change when functionality is added
    aspect-ratio: 5/6.6 auto;
    width: 100%;
    margin: $center;
}

footer {
    border-top: 2px solid $main;
    text-align: center;
}

footer h4, #modified {
    display: inline;
}

// small view navigation 

#menu {
	font-size: 1.5rem;
	border: $border;
	padding: 3px 7px 6px;
	background-color: transparent;
	margin-left: 85%;
	top: 9.5rem;
}

#menu::before {
	content: "☰";
    color: $accent;
}

#menu.open::before {
	content: "✕";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: $accent;
}

.navigation li a:hover {
	color: $main;
	background-color: $light;
}

.navigation li a.active {
    color: $light;
    background-color: $main;
    font-weight: bold;
    border-radius: .3rem;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 90%;
}

.open li a {
	display: block;
}

// end navigation

@import 'medium';
@import 'larger';

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: $light;
    }

    body {
        background-color: $text; 
    }
}