/*************************************************************************
* Princeville Chamber of Commerce project styles - Author: Eric Shewchuk *
*************************************************************************/

// sass --watch chamber/styles/base.scss:chamber/styles/base.css

// COMBINE CSS FILES
@use 'normalize';

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

// set global variables

    $main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

// create mixins
@mixin shadow {
    box-shadow: .4em .4em .7em $text;
}

/******************** end of normalize ********************/

@import 'global';
@import 'navigation';
@import 'home';
@import 'directory';
@import 'form_table';
@import 'discover';