/**************************************** HOME PAGE SPECIFIC STYLES *********************************************/
.weather {
    padding: 1rem;
    margin: 1.5rem auto .5rem auto;
}

#sunshine {
    @include shadow();
    border: $border;
    display: flex;
    padding: 0 1rem;
    display: block;
    font-size: 1.2rem;
    & h3 {
        font-size: 1.9rem;
    }
    & figure {
        margin: 0 auto;
        width: 70%;
    }
}

#sunshine img {
    border: none;
    box-shadow: none;
    width: 40%;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temperature {
        align-self: center;
        justify-self: center;
}

iframe {
    width: 100%;
    height: auto;
}

.events {
    max-width: 95%;
    margin: $center;
}

.events img, .weather img { //.weather will change when functionality is added
    aspect-ratio: 5/6.6 auto;
    width: 100%;
    margin: $center;
}

/**************************************** SPOTLIGHT STYLES *********************************************/
.spotlight {
    max-width: 90%;
    margin: .5rem auto;
    grid-column: 1/-1;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.member a {
    text-decoration: underline;
}

.member img{
    max-width: 100%;
}

.member p::first-line {
    font-weight: bold;
}

.spotlight a {
    color: $accent;
}

@media (min-width: 700px) {
    // .spotlight {
    //     grid-column: 1 / -1;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     gap: 20px;
    //     max-width: 100%;
    // }
    #spot-head {
        display: block;
    }
}

@media (min-width: 900px) {
    .events {
        grid-area: 2/1/3/3;
        max-width: 80%;
    }
    .events img {
        max-width: 100%;
    }
    .weather {
        grid-area: 2/3/3/5;
    }
    .spotlight {
        grid-area: 3/1/4/4;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // flex-shrink: 1;
    }
    .spotlight article {
        max-width: 30%;
    }   
    // #spot-head {
    //     width: 90%;
    // }
    // .member img{
    //     max-width: 80%;
    // }
}

/**************************************** MODAL *********************************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: $text;
    color: $light;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: $border;
    line-height: 1.4;
    width: 60%; /* Could be more or less, depending on screen size */
    & h2 {
        color: lighten($accent, 20);
    }
  }
  
  /* The Close Button */
  #close {
    color: lighten($accent, 20);
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: $main;
    text-decoration: none;
    cursor: pointer;
  }
