@media (min-width: 600px) {

    $main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

    #menu {
        display: none; /* hide hamburger button */
    }
    
    nav {
        display: block;
        max-width: 100%;
        background-color: $main;       
    }
    
    .navigation {
        //display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
    }
    
    .navigation li {
        display: block;
    } 

    .navigation li a {
        color: $light;
    }
    
    .navigation li a:hover {
        color: $accent;
        background-color: $main;
    }
    
    .navigation li a.active {
        color: white;
        background-color: $accent;
        font-weight: bold;
    }

// end navigation

    body {
        max-width: 900px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 35%;
    }

    #headline {
        padding-top: 19%;
        font-size: 2.5rem;
    }

    #mode {
        display: inline;
        grid-area: 1/1/2/2;
        justify-self: left;
        background-color: $light;
        color: $text;
    }

    main h1 {
        font-size: 3rem;
    }

    .cta {
        max-width: fit-content;
        display: inline-block;
    }

    .cta a {
        padding: 1rem 2rem;
    }

    h1, h2, h3 {
        font-size: 3rem;
    }

    /**************************************** DISCOVER PAGE SPECIFIC STYLES > 600px *********************************************/
    #discover-sidebar {
        margin-left: 15px;
    }

    figcaption {
        margin-bottom: 1rem;
    }
}




/**************************************** HOME PAGE SPECIFIC STYLES *********************************************/
@media (min-width: 700px) {
    .spotlight {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 100%;
    }
    #spot-head {
        grid-column: 1 / -1;
    }
}

