@media (min-width: 600px) {

    $main: #284b63;
    $accent: #3c6e71;
    $text: #353535;
    $light: #d9d9d9;
    $border: 3px solid $accent;
    $center: 0 auto;

    #menu {
        display: none; /* hide hamburger button */
    }
    
    nav {
        display: block;
        max-width: 100%;
        background-color: $main;       
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
    }
    
    .navigation ul li {
        display: block;
        color: $light;
    } 
    
    .navigation li a:hover {
        color: $light;
        background-color: $main;
    }
    
    .navigation li a.active {
        color: $light;
        background-color: $accent;
        font-weight: bold;
        //border-radius: .3rem;
    }

// end navigation

    body {
        max-width: 900px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }

    main h1 {
        font-size: 3rem;
        text-align: center;
    }

    .cta a {
        padding: 1rem 2rem;
    }

    h1, h2, h3 {
        font-size: 3rem;
    }

}
