/*************************************** NAVIGATION *******************************************/ 

#menu {
	font-size: 1.5rem;
	border: $border;
	padding: 3px 7px 6px;
	background-color: transparent;
	margin-left: 85%;
	top: 9.5rem;
}

#menu::before {
	content: "☰";
    color: $accent;
}

#menu.open::before {
	content: "✕";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	color: $accent;
}

.navigation li a:hover {
	color: $main;
	background-color: $light;
}

.navigation li a.active {
    color: $light;
    background-color: $main;
    font-weight: bold;
    border-radius: .3rem;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 90%;
}

.open li a {
	display: block;
}
/**************************************** NAVIGATION STYLES > 600px *********************************************/
@media (min-width: 600px) {
    #menu {
        display: none; /* hide hamburger button */
    }
    nav {
        display: block;
        max-width: 100%;
        background-color: $main;       
    }   
    .navigation {
        //display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
    }    
    .navigation li {
        display: block;
    } 
    .navigation li a {
        color: $light;
    }    
    .navigation li a:hover {
        color: $accent;
        background-color: $main;
    }    
    .navigation li a.active {
        color: white;
        background-color: $accent;
        font-weight: bold;
    }
}