html {
    background-color: rgb(24, 24, 24);
    text-align: center;
    color: aquamarine;
}

.photo {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 50px;
    margin: 30px auto;
}

img {
    grid-column: 2 / span 1;
    border: 3px solid rgb(50, 50, 90);
    box-shadow: 5px 5px 15px rgb(178, 247, 224);
}

h4 {
    display: inline;
}

