
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*  Author: Eric Shewchuk | Copyright 2023  */

html {
    background-image: url(../images/main.jpg);
    background-repeat: repeat-x;
    background-color: rgb(54, 121, 71);
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    color: rgb(197, 194, 194);
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    padding: 1rem;
}

header img {
    width: 100px;
    height: 150px;
    margin: 1rem auto;
    outline: 2px solid rgb(179, 107, 59);
    border-radius: 50%;
}

header h1 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
    color:rgb(179, 107, 59);
}

/************************
* small view navigation *
************************/

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: burlywood;
	color: #000;
 	position: relative;
	margin-left: 90%;
	top: -2.2rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "🙈";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: burlywood;
}

.navigation li a:hover {
	color: rgb(151, 96, 24);
	font-weight: 700;
}

.navigation li a.active {
    color: black;
    background-color: burlywood;
    font-weight: bold;
    border-radius: .3rem;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}

.open li a {
	display: block;
}

/*****************
* end navigation *
*****************/

a {
    text-decoration: none;
    color: burlywood;
    padding: .5em;
}

a:hover {
    color: rgb(151, 96, 24);
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

li {
    list-style-type: none;
}

iframe {
    grid-column: 1/3;
    max-width: 100%;
    margin: 0 auto .5rem auto;
}

footer {
    position: relative;
    bottom: 0px;
    display: grid;
    padding: 1rem;
    border-top: 2px solid white;
}

.footer {
    align-items: center;
    grid-column: 2;
}

h4 {
    display: inline;
}

#date {
    color: rgb(156, 231, 105);
    margin: 0px auto;
}

@media (min-width: 600px) {
    header {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    header img {
        margin-left: 1em;
    }

    header h1 {
        grid-area: 1/2/2/4;
        font-size: 3em;
    }

    /************************
    * large view navigation *
    ************************/

    #menu {
		display: none; /* hide hamburger button */
	}

    nav {
        grid-area: 2/1/3/3;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }

	.navigation li {
		display: block;
		/*flex: 1 1 100%;*/
	}

    /*****************
    * end navigation *
    *****************/

    body {
        max-width: 1000px;
    }

    main {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }

    main h2 {
        grid-column: 1/3;
    }

    .card {
        grid-row: 2/3;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}