/*  Author: Eric Shewchuk | Copyright 2023  */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html {
    background-image: url(../images/main.jpg);
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto 0 auto;
    color: rgb(197, 194, 194);
    padding: 15px;
}

header {
    display: grid;
    grid-template-columns: max-content 1fr 6em;
    gap: 20px;
    align-items: center;
    padding: 15px;
}

header img {
    width: 100px;
    height: 150px;
    margin-left: 1em;
    outline: 2px solid rgb(179, 107, 59);
    border-radius: 50%;
}

header h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-align: center;
    color:rgb(179, 107, 59);
}

nav {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: burlywood;
    padding: .5em;
}

a:hover {
    color: rgb(151, 96, 24);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

li {
    list-style-type: none;
}

footer {
    position: relative;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    padding: 15px;
    border-top: 2px solid white;
}

.footer {
    align-items: center;
    grid-column: 2;
}

#date {
    color: rgb(156, 231, 105);
    margin: 0px auto;
}